@{
    ViewData["Title"] = "title";
}

@model PlaneswalkersPantry.Models.Checkout

<main class="row">
    @if (Model.CardsInCheckout.Any())
    {
        <h1>Your Basket</h1>
    }
    else
    {
        <h1>Your Basket is empty.</h1>
    }

    @foreach ((Card card, uint count) in Model.CardsInCheckout)
    {
        <p>@card.Title &times;@count</p>
    }
</main>
