@model PlaneswalkersPantry.Models.ViewModels.LoginModel;
@inject SessionAccess Session;

@{
    ViewData["Title"] = "Log In";
}

@if (Model.IsInvalid)
{
    <p id="login-error-box">
        <span class="screenreader-only">Error:</span>
        Your user name and/or password was not recognized.
    </p>
}

<form asp-action="Index" asp-controller="Account" method="post" class="form-block">
    <div class="form-block-content">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" type="text">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password">
    </div>

    <div class="form-block-footer">
        <button type="submit" class="btn btn-primary" asp-action="Index" asp-controller="Account">Log In</button>
    </div>
</form>
