#login-error-box {
    background-color: #F17784FF;
    padding: 5pt 15pt;
    font-weight: bold;
    border-style: solid;
    border-color: #bb2d3b;
    border-width: 2px;
    border-radius: 5px;
}

.screenreader-only {
    display: none;
}
@media speech {
    .screenreader-only {
        display: inherit;
    }
}
