@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Planeswalker's Pantry</h1>
</div>

<p>
    <a asp-controller="Card" asp-action="SearchForm">
        Search for Cards
    </a>
</p>
