@{
    ViewData["Title"] = "Search Cards";
}

@model PlaneswalkersPantry.Models.ViewModels.CardSearchViewModel

<main class="row">
    <h1>Search Cards</h1>

    <form asp-action="Search" asp-controller="Card" method="post" class="form-block">
        <div class="form-block-content">
          <table>
              <tbody>
                <tr>
                    <td colspan="2">
                        <select asp-for="Predicate" asp-items="Model.SearchPredicateOptions" class="form-select-lg"></select>
                    </td>
                </tr>
              <tr>
                  <td>
                      <label asp-for="Name" class="align-right control-label">Card name:</label>
                  </td>
                  <td>
                      <input asp-for="Name" class="form-control">
                  </td>
              </tr>
              <tr>
                  <td>
                      <label asp-for="Content" class="align-right control-label">Text in card body:</label>
                  </td>
                  <td>
                      <input asp-for="Content" class="form-control">
                  </td>
              </tr>
              <tr>
                  <td>
                      <label asp-for="SetCode" class="align-right control-label">Card set:</label>
                  </td>
                  <td>
                      <select asp-for="SetCode" asp-items="Model.SetNameOptions" class="form-select-lg"></select>
                  </td>
              </tr>
            </tbody>
        </table>
        </div>

        <div class="form-block-footer">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</main>
