@{
    ViewData["Title"] = "Search";
}

<h1>Search for Cards</h1>
<p>
    Enter as many criteria as you want. Cards will be returned if all the criteria match.
</p>

<form asp-action="PerformSearch" asp-controller="Card" method="post" class="form-block">
    <div class="form-block-content">

    </div>

    <div class="form-block-footer">
        <button type="submit" class="btn btn-primary" asp-action="PerformSearch" asp-controller="Card">Search</button>
    </div>
</form>
