html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-block {
    border-radius: 5pt;
}

.form-block-content {
    padding: 15px;
    border-style: solid;
    border-color: var(--bs-gray-600);
    border-width: 1px 1px 0 1px;
    background-color: var(--bs-gray-200);
    border-radius: 5pt 5pt 0 0;
}

.form-block-footer {
    padding: 15px;
    background-color: var(--bs-gray-400);
    border-radius: 0 0 5pt 5pt;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--bs-gray-600);
}

#login-error-box {
    background-color: #F17784FF;
    padding: 5pt 15pt;
    font-weight: bold;
    border-style: solid;
    border-color: #bb2d3b;
    border-width: 2px;
    border-radius: 5px;
}

.screenreader-only {
    display: none;
}
@media speech {
    .screenreader-only {
        display: inherit;
    }
}

.card-details {
    padding: 10px;
    margin: 0 0 40px 0;

    border: solid;
    border-color: var(--bs-gray-100);
    border-radius: 5px;

    box-shadow: 0px 7px 30px 5px #C6C6C6;
}

.search-form {
    padding: 10px;
    margin: 10px;

    border: solid;
    border-color: var(--bs-gray-500);
    border-radius: 15px;
}

.align-right {
    text-align: right;
}
