@inject SessionAccess Session

<ul class="navbar-nav">
    @if (Session.IsSignedIn())
    {
        <li class="nav-item nav-link">
            Hello <b>@Session.Session.GetString("AuthenticatedUser")</b>
        </li>
        <li class="nav-item">
            <a type="submit" class="nav-link btn btn-link">Log Out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Index">Log In</a>
        </li>
    }
</ul>
