@inject SessionAccess Session

<ul class="navbar-nav">
@if (Session.IsSignedIn())
{

    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="LogOut">
            @* TODO: This text is displayed above the logout button. It should be to the left. *@
            Hello <b>@Session.Session.GetString("AuthenticatedUser")</b>.
            <button type="submit" class="nav-link btn btn-link text-dark">Log Out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">Log In</a>
    </li>
}
</ul>
